<!DOCTYPE html>

<html>
  <head>
    <title>Zone的快乐小屋</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="../../index.html" class="logo"><strong>Zone</strong>の快乐小屋</a>
            <ul class="icons">
              <li>
                <a href="https://twitter.com/zonefang88" target="_blank" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100029807920594"
                  target="_blank"
                  class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="https://github.com/fangzipei" target="_blank" class="icon brands fa-github"
                  ><span class="label">GitHub</span></a
                >
              </li>
              <li>
                <a href="https://www.zhihu.com/people/fang-zi-pei-54" target="_blank" class="icon brands fa-zhihu"
                  ><span class="label">ZhiHu</span></a
                >
              </li>
              <!-- <li
                ><a href="#" target="_blank" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li
              > -->
            </ul>
          </header>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>2023/2/1</h1>
            </header>

            <p>
              <img
                src="https://cdn.nlark.com/yuque/0/2023/png/32645868/1675246046082-5f50f65a-c3be-4bfd-bff6-5ce58b60d5cd.png#averageHue=%23ebebeb&amp;clientId=u3e2f8ab0-cbcb-4&amp;from=drop&amp;id=uf487b8fb&amp;name=GZGA7YN87VXM2IJNER9M%40%5D9.png&amp;originHeight=753&amp;originWidth=927&amp;originalType=binary&amp;ratio=1&amp;rotation=0&amp;showTitle=false&amp;size=125475&amp;status=done&amp;style=none&amp;taskId=u0df2a949-75cd-4175-96db-3c901752e2c&amp;title="
                alt="GZGA7YN87VXM2IJNER9M@]9.png"
              />
            </p>
            <p>很简单的题，为了减少内存用了数组没用map。</p>
            <pre><code class="lang-java">public String decodeMessage(String key, String message) {
        char[] set = new char[26];
        StringBuilder sb = new StringBuilder();
        int count = 0;
        for(int i = 0;i&lt;key.length();i++) {
            if(key.charAt(i) == &#39; &#39;){
                continue;
            }
            if(set[key.charAt(i)- &#39;a&#39;] == (char) 0 ) {
                set[key.charAt(i) - &#39;a&#39;] = (char) (&#39;a&#39; + count);
                count++;
            }
        }
        for(int i = 0; i &lt; message.length();i++){
            if(message.charAt(i) == &#39; &#39;){
                sb.append(&quot; &quot;);
            }else {
                sb.append(set[message.charAt(i) - &#39;a&#39;]);
            }
        }
        return sb.toString();
    }
            </code></pre>
            <p>
              <img
                src="https://cdn.nlark.com/yuque/0/2023/png/32645868/1675247677569-72f56fb0-482d-454c-8b7a-35934a52a7b9.png#averageHue=%23faf8f7&amp;clientId=u7e96afbd-3157-4&amp;from=paste&amp;height=142&amp;id=uec1b04c9&amp;name=image.png&amp;originHeight=142&amp;originWidth=440&amp;originalType=binary&amp;ratio=1&amp;rotation=0&amp;showTitle=false&amp;size=13039&amp;status=done&amp;style=none&amp;taskId=u322298c9-bfc4-4204-8304-29962ea41b2&amp;title=&amp;width=440"
                alt="image.png"
              />
            </p>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Search -->
          <section id="search" class="alt">
            <form method="post" action="#">
              <input type="text" name="query" id="query" placeholder="Search" />
            </form>
          </section>

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>目录</h2>
            </header>
            <ul>
              <li><a href="../../index.html">首页</a></li>
              <li>
                <span class="opener">日常生活</span>
                <ul>
                  <li><a href="../daily-life/servers.html">服务器配置</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">Java</span>
                <ul>
                  <li><a href="jvm-improve.html">JVM调优</a></li>
                  <li><a href="jvm-improve-jit.html">JVM调优-JIT优化</a></li>
                  <li><a href="java-command.html">JAVA相关命令</a></li>
                  <li><a href="mock.html">Mock测试</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">数据库相关</span>
                <ul></ul>
              </li>
              <li>
                <span class="opener">LeetCode每日</span>
                <ul>
                  <li><a href="/views/leetcode/2023-2-1.html">2023/2/1</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">影评</span>
                <ul></ul>
              </li>
              <li>
                <span class="opener">书籍推荐</span>
                <ul></ul>
              </li>
              <!-- <li><a href="generic.html">Generic</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li>
                <span class="opener">Submenu</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                  <li><a href="#">Ipsum Adipiscing</a></li>
                  <li><a href="#">Tempus Magna</a></li>
                  <li><a href="#">Feugiat Veroeros</a></li>
                </ul>
              </li>
              <li><a href="#">Etiam Dolore</a></li>
              <li><a href="#">Adipiscing</a></li>
              <li>
                <span class="opener">Another Submenu</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                  <li><a href="#">Ipsum Adipiscing</a></li>
                  <li><a href="#">Tempus Magna</a></li>
                  <li><a href="#">Feugiat Veroeros</a></li>
                </ul>
              </li>
              <li><a href="#">Maximus Erat</a></li>
              <li><a href="#">Sapien Mauris</a></li>
              <li><a href="#">Amet Lacinia</a></li> -->
            </ul>
          </nav>

          <!-- Section -->
          <!-- <section>
            <header class="major">
              <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
              <article>
                <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
              <article>
                <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
              <article>
                <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
            </div>
            <ul class="actions">
              <li><a href="#" class="button">More</a></li>
            </ul>
          </section> -->

          <!-- Section -->
          <!-- <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p
              >Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
              sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p
            >
            <ul class="contact">
              <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
              <li class="icon solid fa-phone">(000) 000-0000</li>
              <li class="icon solid fa-home"
                >1234 Somewhere Road #8254<br />
                Nashville, TN 00000-0000</li
              >
            </ul>
          </section> -->

          <!-- Footer -->
          <!-- <footer id="footer">
            <p class="copyright"
              >&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design:
              <a href="https://html5up.net">HTML5 UP</a>.</p
            >
          </footer> -->
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/browser.min.js"></script>
    <script src="../../assets/js/breakpoints.min.js"></script>
    <script src="../../assets/js/util.js"></script>
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
