<!DOCTYPE html>

<html>
  <head>
    <title>Zone的快乐小屋</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="../../index.html" class="logo"><strong>Zone</strong>の快乐小屋</a>
            <ul class="icons">
              <li
                ><a href="https://twitter.com/zonefang88" target="_blank" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                ></li
              >
              <li
                ><a
                  href="https://www.facebook.com/profile.php?id=100029807920594"
                  target="_blank"
                  class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                ></li
              >
              <li
                ><a href="https://github.com/fangzipei" target="_blank" class="icon brands fa-github"
                  ><span class="label">GitHub</span></a
                ></li
              >
              <li
                ><a href="https://www.zhihu.com/people/fang-zi-pei-54" target="_blank" class="icon brands fa-zhihu"
                  ><span class="label">ZhiHu</span></a
                ></li
              >
              <!-- <li
                ><a href="#" target="_blank" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li
              > -->
            </ul>
          </header>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>JVM调优</h1>
            </header>

            <!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

            <h2>1.调优原则</h2>
            <p
              >在想要JVM调优前一定要清楚地认识到一件事：JVM调优是Java性能优化的最后一步，是万不得已才会执行的步骤！<br />
              在执行JVM调优前请确保已经做了以下几件事：</p
            >
            <ul>
              <li>排查了数据库瓶颈问题，并已优化。包括但不限于索引优化、表结构优化、分库分表等。</li>
              <li>考虑了扩容的情况，横向和纵向都考虑了。</li>
              <li>排查代码，进行逻辑优化、架构优化等。</li>
              <li>拥有全面监控的手段以及收集了足够多的性能数据。</li>
            </ul>
            <p><b>JVM调优的先制度是永远低于程序优化的</b></p>
            <img src="../../images/java程序调优步骤.jpg" />

            <h2>2.调优指标</h2>
            <p>JVM调优指标有以下三个：</p>
            <ul>
              <li>吞吐量：运行用户代码的时间占总运行时间的行例 （总运行时间=程序的运行时间+内存回收的时间）。</li>
              <li>停顿时间：执行垃圾收集（GC）时，程序的工作线程被暂停的时间。</li>
              <li>内存占用：系统运行时，JVM需要使用的内存。</li>
            </ul>
            <p
              >该三者构成了不可能三角，我们调优时无法同时满足它们三个，所以只能取其中两个进行调优。<br />
              我们理应在业务的帮助下正确选取调优指标，并将其优化至调优目标。如：</p
            >
            <ul>
              <li>Heap内存使用率 &lt;= 70%。</li>
              <li>Old Generation内存使用率&lt;= 70%。</li>
              <li>avg pause &lt;= 1秒。</li>
              <li>Full gc 次数0 或 avg pause 间隔 >= 24小时。</li>
            </ul>
            <p>通常我们选择的调优目标为「吞吐量」和「停顿时间」，它们的目的最终是一致的，即尽量缩短STW(Stop-The-World)的时间</p>

            <h2>3.调优设置</h2>
            <h3>3.1.堆设置</h3>
            <p>-Xms与-Xmx一般设置成相同的值，可以避免内存扩充的动作。</p>
            <h3>3.2.年轻代设置</h3>
            <p
              >参数-Xmn，1-1.5倍FullGC之后的老年代空间占用。<br />

              避免新生代设置过小，当新生代设置过小时，会带来两个问题：一是minor GC次数频繁，二是可能导致minor
              GC对象直接进老年代。当老年代内存不足时，会触发Full GC。
              避免新生代设置过大，当新生代设置过大时，会带来两个问题：一是老年代变小，可能导致Full GC频繁执行；二是 minor GC
              执行回收的时间大幅度增加。</p
            >
            <h3>3.3.老年代设置</h3>
            <p>
              老年代使用并发收集器，所以其大小需要小心设置，一般要考虑并发会话率和会话持续时间等一些参数。<br />
              如果堆设置偏小，可能会造成内存碎片、高回收频率以及应用暂停。<br />
              如果堆设置偏大，则需要较长的收集时间 吞吐量优先的应用。<br />
              一般吞吐量优先的应用都有一个较大的年轻代和一个较小的老年代。这样可以尽可能回收掉大部分短期对象，减少中期的对象，而老年代尽可能存放长期存活对象</p
            >
            <h3>3.4.元空间设置</h3>
            <p
              >在jdk1.8及以后的版本中，元空间取代了永久代。相应的参数为-XX:MetaspaceSize和-XX:MaxMetaspaceSize；
              通常设置为相同的值，避免运行时要不断扩展。</p
            >

            <h2>4.调优步骤</h2>
            <h3>4.1.监控分析</h3>
            <p>主要分为实时监控和事后监控：</p>
            <ul>
              <li>实时监控：Linux命令（top，ps等）、JDK命令（jps，jstat等）、实时监控平台（JConsole等）。</li>
              <li>事后监控：GC日志分析、dump堆转储快照分析</li>
            </ul>
            <h3>4.2.参数设置</h3>
            <ol>
              <li>JVM启动时增加参数：</li>
              <pre><code># 出现OOME时生成堆dump:
-XX:+HeapDumpOnOutOfMemoryError
# 生成堆文件地址：
-XX:HeapDumpPath=/home/hadoop/dump/</code></pre>
              <li>jmap生成，命令：</li>
              <pre><code>jmap -dump:file=文件名.dump [pid]
# 9257是指JVM的进程号
jmap -dump:format=b,file=testmap.dump 9257</code></pre>
            </ol>
            <p
              >第一种为事后方式，只有在JVM出现OOM问题后才会生成堆栈信息；第二种是在执行时使用的，使用后JVM会暂停服务，会对服务的提供产生影响。</p
            >
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Search -->
          <section id="search" class="alt">
            <form method="post" action="#">
              <input type="text" name="query" id="query" placeholder="Search" />
            </form>
          </section>

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>目录</h2>
            </header>
            <ul>
              <li><a href="index.html">首页</a></li>
              <li>
                <span class="opener">日常生活</span>
                <ul>
                  <li><a href="../daily-life/servers.html">JVM调优</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">Java</span>
                <ul>
                  <li><a href="jvm-improve.html">JVM调优</a></li>
                  <li><a href="java-command.html">JAVA相关命令</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">数据库相关</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">常用中间件</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">影评</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">书籍推荐</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                </ul>
              </li>
              <!-- <li><a href="generic.html">Generic</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li>
                <span class="opener">Submenu</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                  <li><a href="#">Ipsum Adipiscing</a></li>
                  <li><a href="#">Tempus Magna</a></li>
                  <li><a href="#">Feugiat Veroeros</a></li>
                </ul>
              </li>
              <li><a href="#">Etiam Dolore</a></li>
              <li><a href="#">Adipiscing</a></li>
              <li>
                <span class="opener">Another Submenu</span>
                <ul>
                  <li><a href="#">Lorem Dolor</a></li>
                  <li><a href="#">Ipsum Adipiscing</a></li>
                  <li><a href="#">Tempus Magna</a></li>
                  <li><a href="#">Feugiat Veroeros</a></li>
                </ul>
              </li>
              <li><a href="#">Maximus Erat</a></li>
              <li><a href="#">Sapien Mauris</a></li>
              <li><a href="#">Amet Lacinia</a></li> -->
            </ul>
          </nav>

          <!-- Section -->
          <!-- <section>
            <header class="major">
              <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
              <article>
                <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
              <article>
                <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
              <article>
                <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
              </article>
            </div>
            <ul class="actions">
              <li><a href="#" class="button">More</a></li>
            </ul>
          </section> -->

          <!-- Section -->
          <!-- <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p
              >Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
              sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p
            >
            <ul class="contact">
              <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
              <li class="icon solid fa-phone">(000) 000-0000</li>
              <li class="icon solid fa-home"
                >1234 Somewhere Road #8254<br />
                Nashville, TN 00000-0000</li
              >
            </ul>
          </section> -->

          <!-- Footer -->
          <!-- <footer id="footer">
            <p class="copyright"
              >&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design:
              <a href="https://html5up.net">HTML5 UP</a>.</p
            >
          </footer> -->
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/browser.min.js"></script>
    <script src="../../assets/js/breakpoints.min.js"></script>
    <script src="../../assets/js/util.js"></script>
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
